html, body {
  background-color: #6A4427;
  color: #25120C;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  display: inline-block;
  margin: auto;
}

a, a:visited {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-height: 70vh;
  max-width: 50vw;
}

ins {
  margin: auto;
}

h1 {
  background-color: #25120C;
  border: 5px solid #25120C;
  color: #ffffff;
  display: inline-block;
  font-size: 1.7em;
  margin: 8vh auto 2vh auto;
  width: 50%;
}

a h1 {
  background-color: #54351D;
}

#jump {
  background-color: #6A4427;
  height: 8vh;
  margin: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  line-height: 8vh;
  vertical-align: middle;
}

#jump a {
  display: inline-block;
  margin: auto 5px;
}

h2 {
  font-size: 1.2em;
  margin: -8vh auto 0 auto;
  padding-top: 8vh;
}
